{% load staticfiles %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <!--<script src="{% static "js/d3.min.js" %}" type="text/javascript"></script>-->
    <script src="http://d3js.org/d3.v3.min.js" type="text/javascript"></script>
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Recorde</title>
</head>
<body>
<div id="warpDiv"></div>
<script src="{% static "js/vrJs.js" %}" type="text/javascript"></script>
</body>
</html>